<.header>
  New Model settings
  <:subtitle>Use this form to manage model_settings records in your database.</:subtitle>
</.header>

<.model_settings_form changeset={@changeset} action={~p"/model_settings"} />


<br/>
<br/>
<.link href={~p"/model_settings"}>
  <button>Back to model settings</button>
</.link>